# This package is controled by the GNU Autotools toolchain.

# Automake
/Makefile.in
/Makefile
**/Makefile.in
**/Makefile

# Autoconf
/m4/
/autom4te.cache/
/aclocal.m4
/config.*

# Build scripts
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h?
/test-driver
/ylwrap

# build fragments
*.o
*.gch
*.out
*.dSYM
*.plist
*.c~
/build

# MacOS Formatting files
.DS_Store

# GNU Global files
GPATH
GTAGS
GRTAGS

# Doxygen documentation
/docs/html/
/docs/latex/
/docs/man/