# This package is controled by the GNU Autotools toolchain.

# Automake
/Makefile
/Makefile.in
src/Makefile
src/.deps/
src/Makefile.in

# root directory
*.in
/aclocal.m4
/autom4te.cache/
/config.*
configure
compile
depcomp
install-sh
missing
/m4/
/stamp-h?
.dirstamp

# build fragments
*.o
*.gch
*.out
*.dSYM
*.plist
*.c~
a.out
/build

# MacOS Formatting files
.DS_Store

# GNU Global files
GPATH
GTAGS
GRTAGS